#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: #fc5056;
}

.slick-dots li button:before {
  font-size: 8px;
}