@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Rubik:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .text-h1 { @apply text-[56px] font-display font-bold };
  .text-h2 { @apply text-5xl font-display font-bold };
  .text-h3 { @apply text-4xl font-display font-bold };
  .text-h4 { @apply text-3xl font-display font-bold };
  .text-h5 { @apply text-2xl font-display font-bold };
  .text-h6 { @apply text-xl font-display font-bold };

  .text-subtitle { @apply text-base font-display font-semibold}
  .text-body { @apply text-base font-sans font-normal}
  .text-body-s { @apply text-sm font-sans font-normal}
  .text-action { @apply text-[15px] font-sans font-medium}
  .text-caption { @apply text-xs font-sans font-normal}

  .hover-bright {
    @apply hover:brightness-90 transition-all
  }
}